<div class="row">
  <div class='col-xs'>

    <ul class="nav nav-pills flex-column">
      <% get_all_spaces()['items'].each do |entry|%>
      <li class="nav-item">

        <a class="nav-link" href="/space_explorers/<%=entry['sys']['id']%>"><%=entry['fields']['title']%></a>
      </li>

      <%end%>
    </ul>
  </div>
  <div class='col-xl'>
    <div class="card" id='div-main'>
      <div class="card-body">
        <p id="notice"><%= notice %></p>

        <h1><%=@space['fields']['title'] %></h1>
        <h6><%=@space['fields']['description'] %></h6>

        <div class="btn-group" role="group">
          <button class="btn btn-secondary" onclick="ShowEntries()" id="tab-entries">Entries</button>

          <button class="btn btn-secondary" onclick="ShowAssets()" id="tab-assets">Assets</button>
        </div>

        <div class="card pre-scrollable" id='div-entries'>
          <div class="card-body">
            <table class="table ">
              <thead>
                <tr>
                  <% @entries_table_fieldnames.values.each do |value|  %>
                  <%value.each do |val_index|%>
                  <th scope="col"><%= split_camel_casing(val_index).titleize%></th>
                  <%end%>
                  <%end%>
                </tr>
              </thead>
              <tbody>
                <%@entries['items'].each do |entry|%>
                <tr>
                  <% @entries_table_fieldnames.keys.each do |key|  %>
                  <%@entries_table_fieldnames[key].each do |val_index|%>
                  <td>
                    <%if (val_index=='createdBy' or val_index=='updatedBy') then%>
                    <%= get_user_by_id(entry[key.to_s][val_index])['fields']['name'] %>
                    <%else%>
                    <%= entry[key.to_s][val_index] %>
                    <%end%>
                  </td>

                  <%end%>
                  <%end%>
                </tr>
                <%end%>
              </tbody>
            </table>
          </div>
        </div>
        <div class="card pre-scrollable" id="div-assets">
          <div class="card-body">
            <table class="table">
              <thead>
                <tr>
                  <% @assets_table_fieldnames.values.each do |value|  %>
                  <%value.each do |val_index|%>
                  <%if (val_index=='upload') then%>
                  <%else%>
                  <th scope="col"><%= split_camel_casing(val_index).titleize%></th>
                  <%end%>
                  <%end%>
                  <%end%>
                </tr>
              </thead>
              <tbody>
                <%@assets['items'].each do |asset|%>
                <tr>
                  <% @assets_table_fieldnames.keys.each do |key|  %>
                  <%@assets_table_fieldnames[key].each do |val_index|%>
                  <%if (val_index=='upload') then%>
                  <%else%>
                  <td>
                    <%if (val_index=='fileName') then%>
                    <a href="<%= asset[key.to_s]['upload'] %>"><%= asset[key.to_s][val_index] %></a>
                    <%else%>

                    <%if (val_index=='createdBy' or val_index=='updatedBy') then%>
                    <%= get_user_by_id(asset[key.to_s][val_index])['fields']['name'] %>
                    <%else%>
                    <%= asset[key.to_s][val_index] %>
                    <%end%>
                    <%end%>

                  </td>
                  <%end%>
                  <%end%>
                  <%end%>
                </tr>
                <%end%>
              </tbody>
            </table>
          </div>
          <br>
        </div>
      </div>
      <!-- <div class="row"> -->
      <%# <%= link_to 'New Space Explorer', new_space_explorer_path %>
      <!-- </div> -->
    </div>
  </div>
</div>
<script>

  function ShowEntries(){
    $('#div-assets').hide();
    $('#div-entries').show();

  }
  function ShowAssets(){
    $('#div-entries').hide();
    $('#div-assets').show();

  }

  $(document).ready( function () {
    $('#div-assets').hide();
  });
</script>
